PORT=5001
MONGO_URI=mongodb+srv://vemulapallisandeepsai2007_db_user:sandeepsai%402007@cluster0.y0iiaui.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_secret_key
OPENAI_API_KEY=
EMAIL_USER=
EMAIL_PASSWORD=
CLIENT_URL=http://localhost:5173
DEMO_PASSWORD=Demo@123
